*{
    margin:0;
    padding:0;
}
.container{
    height:100vh;
    width:100%;
    background-image:url(nm- full stack/food.jpg);
    background-position: center;
    background-size: cover;
    padding-right:5%;
    padding-left: 5%;
    box-sizing: border-box;
    position: relative;
}