*{
    margin:0;
    padding:0;
}
.container{
    height:100vh;
    width:100%;
    background-image:url(images/bg2.png);
    background-position: center;
    background-size: cover;
    padding-right:5%;
    padding-left: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 35vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: auto;
    cursor:pointer;
}
.cart{
    width: auto;
    cursor: pointer;
}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:0px 30px;
}
nav ul li a{
    text-decoration: none;
    color:maroon;
}
.content h1{
    font-size: 40px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: brown;
}
.content p{
    font-size: 20px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: rgb(56, 26, 5);
}
.content{
    margin-left: 4%;
    margin-top: 1%;
}
.content .btn{
    display: inline-block;
    background: -moz-linear-gradient(45deg,#ff7300,#f87000);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: brown;
    box-shadow: 3px 8px 22px rgb(85, 57, 4);
}
.arrow-icon{
    margin-top: 40px;
    display: 25px;
}
.arrow-icon img{
    width: 40px;
    margin-right: 25px;
}
.social-links{
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px;
}
.social-links a{
    text-decoration: none;
    color: maroon;
    padding-right: 5px;
    font-size: 14px;
}
.social-links img{
    width: 20px;
    margin-right: 1px;
}